body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.page-tittle {
    padding-left: 10px;
}

canvas {
    border: 1px solid #b25216;
    padding: 0;
    margin: auto;
    display: block;
}

.margin-left-15 {
    margin-left: 15px;
}

.matrix-cell {
    width: 50px !important;
    height: 50px !important;
    margin: 5px;
    text-align: center;
}
